.modal-dialog {
  width: 90%;
  .modal-header {
    background: #ed1f79;
    color: white;
    .btn-default {
      border-radius: 50%;
      float: right;
    }
  }
  table {
    width: 100%;
    td,
    th {
      padding: 5px;
    }
  }
}
