.modal-header{
    background: #ed1f79;
    color: white;

    .btn-default {
        border-radius: 50%;
        float: right;
    }
}
.modal-dialog {
    #d-picker {
        border: 1px solid rgba(0,0,0,0.3);
    }
}